/* when component is hovered (not clicked) */
.subjectCard:hover{
  transform: translateY(-0.3rem);
  box-shadow: 0.3rem 0.3rem 0.3rem #bbb;
  transition: 0.2s;
}

/* picture */
.subjectImage{
  display:flex;
  background-image: url(../white_paper.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  object-fit: cover;
  height: 130px;
  width: 300px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transform: translateY(-0.3rem);
}

/* name */
.subjectName{
  position: relative;
  width: 285px;
  left: 25px;
  margin-left: -10px;
  font-weight: 500;
  font-size: 40px;
  top: 5px;
}

.subjectTime {
  font-size: 20px;
  font-weight: 500;
  left: 25px;
  margin-left: -10px;
  position: relative;
  top: 90px;
  width: 285px;
}

.subjectTimeRemaining{
  font-size: 22px;
  font-weight: 500;
  left: 22px;
  margin-left: -10px;
  position: relative;
  top: 20px;
}

/* .subjectTimeRemaining[isTime="yellow"]{
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(204, 198, 89);
}

.subjectTimeRemaining[isTime="green"]{
  box-shadow: 0.5rem 0.5rem 0.5rem rgb(62, 223, 62);
} */

/* main component */
.subjectCard{
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
  /* justify-content: space-evenly; */
  margin-top: 1rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  background-color: #99738E;
  transition: background 0.25s ease-in-out;
  margin-right: 20px;
  margin-bottom: 20px;
}

/* dark mode */
.subjectCard[data-theme="false"] {
  background: #42414d !important;
  transition: background 0.25s ease-in-out;
}
  
/* .small-image-sizer {
  height: 50px;
  width: 100px;
  object-fit: fill;
} */

.center-text {
  text-align: center;
}

.center-objects {
  justify-content: center;
}

.subject-button {
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: rgba(255, 255, 255, 0) solid 3px;
  transition-duration: 0.3s;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subject-button:hover {
  border-bottom: rgb(41, 92, 182) solid 3px;
}

.subject-button:active {
  background-color: rgba(154, 179, 222, 0.5);
  border-bottom: rgb(41, 92, 182) solid 3px;
}

@media screen and (max-width:1000px){

  .subjectCard:hover{
    transform:none;
    box-shadow: none;
  }

  .subjectName{
    top: 35px;
    justify-content: left;
    display: flex;
  }

  .subjectTime{
    top: 90px;
    justify-content: left;
    display: flex;
  }

  .subjectTimeRemaining{
    left: -8px;
  }

  .subjectImage{
    height: 100px;
    justify-content: left;
    display: flex;
  }
}