/* when component is hovered (not clicked) */
.subjectCard:hover{
  transform: translateY(-0.3rem);
  box-shadow: 0.2rem 0.2rem 1.5rem #bbb;
  transition: 0.2s;
}

/* main component */
.subjectCard{
  font-size: 1rem;
  font-family:Arial, Helvetica, sans-serif;
  display: inline-block;
  /* justify-content: space-evenly; */
  margin-top: 1rem;
  margin-left: 1rem;
  /* text-align: left; */
  background-image: url(../white_paper.jpg);
  width: 300px;
  height: 100px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: contain; */
  border-radius: 0.5rem;
  background-color: lightgrey;
}
  
/* picture */
.small-image-sizer {
  height: 50px;
  width: 100px;
  object-fit: fill;
}

.center-text {
  text-align: center;
}

.center-objects {
  justify-content: center;
}

.subject-button {
  font-size: 16px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  border-bottom: rgba(255, 255, 255, 0) solid 3px;
  transition-duration: 0.3s;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subject-button:hover {
  border-bottom: rgb(41, 92, 182) solid 3px;
}

.subject-button:active {
  background-color: rgba(154, 179, 222, 0.5);
  border-bottom: rgb(41, 92, 182) solid 3px;
}

.subjectName{
  position: relative;
  top: 40px;
  margin-left: 10px;

}

@media screen and (max-width:1000px){

  .subjectCard:hover{
    transform:none;
    box-shadow: none;
  }

  /* .small-image-sizer {
    position: absolute;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height:100px;
    width:150px;
    object-fit: fill;
    padding-left: 100px;
    padding-right: 100px;
  }*/  
}