.page_padding {
    padding: 10px;
}

.ticket_card {
    border-radius: 5px;
    border-color: rgb(61, 53, 125);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    box-shadow: 0px 0px 3px rgb(105, 105, 154);
    width: 50%;
    font-size: 18px;
}

.textarea_admin_section {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    border: 3px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textarea_admin_section:focus {
    border: 3px solid #8184da;
    border-radius: 3px;
}

button {
    background-color: #8184da;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #676ac2;
}

button:active {
    background-color: #4d50ad;
}
