.page_padding {
    padding: 10px;
}

.ticket_card {
    border-radius: 2px;
    border-bottom-color: rgb(61, 53, 125);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 10px;
    width: 80%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.inner_ticket_card {
    border-radius: 5px;
    border-color: rgb(141, 166, 230);
    background-color: rgb(194, 208, 241);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    margin-bottom: 10px;
    width: 80%;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textarea_admin_section {
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    border: 3px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.textarea_admin_section:focus {
    border: 3px solid #8184da;
    border-radius: 3px;
}

button {
    background-color: #8184da;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #676ac2;
}

button:active {
    background-color: #4d50ad;
}

.completeTicket {
    background-color: #7ec078;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 120%;
    text-align: center;
}

.notCompleteTicket {
    background-color: #c07878;
    border-radius: 20px;
    padding: 10px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.successful_submission_admin {
    background-color: rgb(133, 191, 133);
    border: 2px solid rgb(102, 159, 102);
    border-radius: 3px;
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}

.invalid_submission_admin {
    background-color: rgb(240, 158, 158);
    border: 2px solid rgb(214, 115, 115);
    border-radius: 3px;
    width: 80%;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}
