nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:  #1b2430;
    padding: 5px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    background-color: darkblue;
    background-image: linear-gradient(to right, rgb(9, 20, 105) , rgb(181, 203, 226));
}

#logomob{
    display:none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active:hover{
    color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #17cf97;
    position: absolute;
    bottom: -4px;
    left: 20px;

}

@media screen and (max-width:769px){
    nav{
        /* display: flex; */
        /* align-items: center; */
        /* justify-content: space-between; */
        background:  #1b2430;
        padding: 0px 0px;
        width: 0%;
    }

    #logopc{
        display:none;
    }

    #logomob{
        display:flex;
        padding-right: 13rem;
    }

    #navbar{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90%;
        right: 0px;  /* edit this for length */
        width: 100%;
        height: 100vh;
        background:  #2a3239;
        /* box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1); */
        padding: 0 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar li{
        list-style: none;
        padding: 10 10px;
        position:relative;
        padding-top: 13px;
    }
    
}