h1{
    color: #fff;
}

.page_padding {
    padding: 10px;
}

/* form components */
.label_div {
    width: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    border: 3px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

input:focus {
    border: 3px solid #8184da;
    border-radius: 3px;
}

textarea {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    /* box-sizing: border-box; */
    border: none;
    border: 3px solid #ccc;
    border-radius: 3px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

textarea:focus {
    border: 3px solid #8184da;
    border-radius: 3px;
}

button {
    background-color: #8184da;
    border: none;
    color: white;
    padding: 16px 32px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
    transition: 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #676ac2;
}

button:active {
    background-color: #4d50ad;
}

.successful_submission {
    background-color: rgb(133, 191, 133);
    border: 2px solid rgb(102, 159, 102);
    border-radius: 3px;
    width: 30%;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}

.invalid_submission {
    background-color: rgb(240, 158, 158);
    border: 2px solid rgb(214, 115, 115);
    border-radius: 3px;
    width: 30%;
    margin: auto;
    padding: 10px;
    font-size: 16px;
}

.whitespace{
    height: 100px;
}
/* spinner */

.overlay {
    position: absolute;
    padding-top: 100px;
    /* this will stretch overlay to fill width and height of form */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
